<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Создать задачу</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div th:replace="~{navigation :: navigation(AddTask)}"/>
    <div class="content-position">
        <h3>Создать задачу</h3>
        <form th:action="@{/tasks/add}" th:object="${task}" method="POST">
            <div class="form-group">
				<label>Наименование</label>
				<input th:field="*{title}" type="text" class="form-control" placeholder="">
				<div class="error" style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
			</div>

			<div class="form-group">
				<label>Подробности</label>
				<textarea class="form-control" th:field="*{description}" type="text" rows="3"></textarea>
				<div class="error" style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
			</div>

			<div class="form-row">
				<div class="col form-group">
					<label>Дата завершения</label>
					<input th:field="*{due_time}" type="date" class="form-control" placeholder="">
					<div class="error" style="color:red" th:if="${#fields.hasErrors('due_time')}" th:errors="*{due_time}" />
				</div>
				<div class="col form-group">
					<label>Планируемое время (в часах)</label>
					<input th:field="*{plan_time}" type="number" class="form-control" placeholder="">
					<div class="error" style="color:red" th:if="${#fields.hasErrors('plan_time')}" th:errors="*{plan_time}" />
				</div>
			</div>
			<div class="form-row">
				<input th:field="*{manager_id}" type="hidden" class="form-control">
				<input th:field="*{status}" type="hidden" class="form-control">
				<input th:field="*{progress}" type="hidden" class="form-control">
				<div class="col form-group">
					<label>Исполнитель</label>
					<select th:field="*{employer_id}" class="form-control">
						<option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.firstname}+' '+${user.lastname}"></option>
					</select>
				</div>
				<div class="col form-group">
					<label>Проект</label>
					<select th:field="*{project_id}" class="form-control">
						<option th:each="project : ${projectList}" th:value="${project.id}" th:text="${project.title}"></option>
					</select>
					<div class="error" style="color:red" th:if="${#fields.hasErrors('project_id')}" th:errors="*{project_id}" />
				</div>
				<div class="col form-group">
					<label>Срочность</label>
					<select th:field="*{urgency}" class="form-control">
						<option th:each="u : ${T(ru.geekbrains.entities.Task.Urgency).values()}" th:value="${u}" th:text="${u}"></option>
					</select>
				</div>
			</div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
</body>
</html>