<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Advanced task tracker</title>

    <!--    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Home)}"/>

    <h1>Список задач</h1>

    Полный контроль Ваших задач в одном приложении!

    <hr>
    <h3 th:text="Фильтры"></h3>
    <form th:action="@{/tasks/}" method="GET">
        <div class="form-row">
            <div class="col form-group">
                <label>Проект</label>
                <select name="project_id" class="form-control">
                    <option th:text="'Не выбран'" th:value="null"/>
                    <option th:each="p : ${projectList}" th:text="${p.title}" th:selected="${param.project_id != null && p.id.toString() == param.project_id.toString()}"
                            th:value="${p.id}"/>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Срочность</label>
                <select name="urgency" class="form-control">
                    <option th:text="'Не выбрана'" th:value="null"/>
                    <option th:each="u : ${T(ru.geekbrains.entities.Task.Urgency).values()}" th:value="${u}" th:text="${u}"
                            th:selected="${param.urgency != null && u.toString() == param.urgency.toString()}"/>
                </select>
            </div>
            <div class="col form-group">
                <label>Статус</label>
                <select name="status" class="form-control">
                    <option th:text="'Не выбран'" th:value="null"/>
                    <option th:each="s : ${T(ru.geekbrains.entities.Task.Status).values()}" th:value="${s}" th:text="${s}"
                            th:selected="${param.status != null && s.toString() == param.status.toString()}"/>
                </select>
            </div>
        </div>
        <button type="submit" th:text="Применить" class="btn btn-success"></button>
        <a class="btn btn-secondary" th:href="@{'/tasks/?p=1'}">Сбросить фильтр</a>
    </form>
    <hr>

    <br>
    <a th:href="@{'/tasks/create'}" class="btn btn-primary">Создать задачу</a>
    <br><br>

    <div class="card" th:if="${page.content.size() > 0}">
        <h5 class="card-header">Все задачи</h5>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Дата создания</th>
                    <th>Срочность</th>
                    <th>Статус</th>
                    <th>Наименование</th>
                    <th>Завершить</th>
                    <th>Документы</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${page.content}">
                    <td th:text="'#' + ${task.id}"/>
                    <td th:text="${#dates.format(task.start_time, 'dd.MM.yyyy')}"/>
                    <td th:text="${task.urgency}"/>
                    <td th:text="${task.status}"/>
                    <td th:text="${task.title}"/>
                    <td th:text="${#dates.format(task.due_time, 'dd.MM.yyyy')}"/>
                    <td>
                        <a th:href="@{/documents(objId=${task.id},objType=TASK,mode=EDIT)}" class="btn btn-outline-dark" >Документы</a>
                    </td>
                    <td>
                        <a th:href="@{'/tasks/show?id=' + ${task.id}}">Просмотр</a><br>
                        <a th:href="@{'/tasks/edit?id=' + ${task.id}}">Редактирование</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/tasks/?p='+ ${page.previousOrFirstPageable().getPageNumber() + 1} + ${filtersDef}}">Предыдущая</a>
            </li>
            <li class="page-item" th:classappend="${page.getNumber() + 1 == i ? 'active' : ''}"
                th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
                <a class="page-link" th:text="${i}" th:href="@{'/tasks/?p=' + ${i} + ${filtersDef}}"></a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/tasks/?p='+ ${page.nextOrLastPageable().getPageNumber() + 1} + ${filtersDef}}">Следующая</a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>