<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Смена пароля</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="~{navigation :: navigation(Home)}"/>
    <div class="content-position">
        <h3>Изменение пароля</h3>
        <hr>
        <div th:if="${error}!=null" class="alert alert-danger">[[${error}]]</div>
        <div th:if="${success}!=null" class="alert">[[${success}]]</div>

        <form th:if="${success}==null" th:action="@{/user/updatePassword}" method="POST" th:object="${password}">

            <div class="form-group controls">
                <label for="op">Старый пароль</label>
                <input th:field="*{oldpassword}" type="password" class="form-control" id="op"/>
            </div>

            <div class="form-group controls">
                <label for="np">Новый пароль</label>
                <input th:field="*{newpassword}" type="password" class="form-control" id="np"/>
                <small class="form-text text-muted">
                    Пароль должен содержать хотя бы 1 заглавную букву, 1 цифру и 1 специальный символ и
                    не должен содержать последовательности из 3 и более букв или цифр или входящих в "qwerty"
                </small>
                <p th:if="${#fields.hasErrors('newpassword')}" th:errors="*{newpassword}" class="text-danger"></p>
            </div>

            <div class="form-group controls">
                <label for="mp">Повторите пароль</label>
                <input th:field="*{matchingPassword}" type="password" class="form-control" id="mp"/>
            </div>

            <div class="form-group controls">
                <button type="submit" class="btn btn-success">Сменить пароль</button>
            </div>
        </form>
    </div>
</body>
</html>