<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Добавление документа</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div th:replace="~{navigation :: navigation(Home)}"/>
    <div class="content-position">
        <div id="docbox" class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Добавление документа</div>
                </div>
                <div class="panel-body">
                    <form th:action="@{/document/save}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                        <div th:if="${message}!=null" class="form-group col-xs-15">
                            <div class="alert alert-danger col-xs-offset-1 col-xs-10">[[${message}]]</div>
                        </div>
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon"></i>
                            <span class="input-group-text">Описание</span>
                        </span>
                            <textarea class="form-control"  name="description" aria-label="Описание"></textarea>
                        </div>
                        <input type="hidden" name="object_type" placeholder="Тип объекта" th:value="${objType}" class="form-control">
                        <input type="hidden" name="object_id" placeholder="ИД объекта" th:value="${objId}" class="form-control">
                        <div class="file-group">
                            <span class="input-group-addon"><i class="glyphicon"></i></span>
                            <br>
                            <input type="file" class="form-control-file" placeholder="Наименование"  name="fileData" id="fileData">
                            <br>
                        </div>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>