<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Создание нового пароля</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:if="${success}!=null" class="alert">
    <p>[[${success}]]</p>
    <a th:href="@{/login}">Войти с новым паролем</a>
</div>

<div th:if="${success}==null" sec:authorize="hasAuthority('CHANGE__PASSWORD__PRIVILEGE')" class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Создание нового пароля</div>
    </div>
    <div class="panel-body">
        <form th:action="@{/user/resetPassword/save}" method="POST" th:object="${newPassword}">

            <div th:if="${error}!=null" class="alert alert-danger">
                [[${error}]]
            </div>

            <div class="form-group controls">
                <label for="np">Новый пароль</label>
                <input th:field="*{newpassword}" type="password" class="form-control" id="np"/>
                <small class="form-text text-muted">
                    Пароль должен содержать хотя бы 1 заглавную букву, 1 цифру и 1 специальный символ и
                    не должен содержать последовательности из 3 и более букв или цифр или входящих в "qwerty"
                </small>
                <p th:if="${#fields.hasErrors('newpassword')}" th:errors="*{newpassword}" class="text-danger"></p>
            </div>

            <div class="form-group controls">
                <label for="mp">Повторите пароль</label>
                <input th:field="*{matchingPassword}" type="password" class="form-control" id="mp"/>
            </div>

            <div class="form-group controls">
                <button type="submit" class="btn btn-success">Сохранить пароль</button>
            </div>

        </form>
    </div>
</div>

</body>
</html>