<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Восстановление пароля</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="regbox" class="mainbox col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4">
    <div th:if="${success}!=null" class="alert">[[${success}]]</div>

    <div th:if="${success}==null" class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Восстановление пароля</div>
        </div>
        <div class="panel-body">
            <form th:action="@{/user/resetPassword}" method="POST" th:object="${emailObj}">

                <div th:if="${error}!=null" class="alert alert-danger">
                    [[${error}]]
                </div>

                <div class="input-group">
                    <input th:field="*{username}" placeholder="логин" type="text" class="form-control" id="username"/>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></p>
                </div>
                <div class="input-group">
                    <input th:field="*{email}" placeholder="E-mail" type="email" class="form-control" id="email"/>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
                </div>
                <br>
                <div class="form-group controls">
                    <button type="submit" class="btn btn-success">Сбросить пароль</button>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>